body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color:whitesmoke;
    background-image: url(scroll.html);
}

header {
    background-image: url(back.jpg);
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
header h1 {
    font-size: 36px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}
.english{
    text-align: left;
    margin-bottom: 90px;
}
/* main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    
} */
.hindi{
    text-align: right;
    margin-bottom: 40px
}
